<% content_for :title do %>Index<% end %>
<h3>Top Word from the urban dictionary</h3>
<p>Top </p>
<p></p>
<%= @field1 %>
<br>
<%= @field2 %>
<br>
<%= @field3 %>
<br>
<%= @field4 %>
  <br>
<%= @field5 %>
<p></p>
<%= @field6 %>
<p></p>
<p></p>
<p>Bottom </p>
